<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmust.labManagementSystem.mapper.userMapper.UserModuleMapMapper">
    <resultMap id="BaseResultMap" type="com.kmust.labManagementSystem.dao.userDao.UserModuleMap">
        <result column="user_nm" jdbcType="VARCHAR" property="userNm" />
        <result column="module_Id" jdbcType="VARCHAR" property="moduleId" />
    </resultMap>

    <insert id="addMap" parameterType="com.kmust.labManagementSystem.dao.userDao.UserModuleMap">
        insert into user_module_map
        values(#{userNm},#{moduleId})
    </insert>
</mapper>