<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmust.labManagementSystem.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.kmust.labManagementSystem.dao.UserInfo">
        <result column="user_nm" jdbcType="VARCHAR" property="userNm" />
        <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    </resultMap>
    <select id="selectByUserNm" resultMap="BaseResultMap">
        select *
        from user_info
        where
        user_nm = #{username}
    </select>
    <select id="findAllUserInfo" resultMap="BaseResultMap">
        select *
        from user_info
    </select>
</mapper>