<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link href="../../../../assets/css/login.css" rel="stylesheet">
<link rel="stylesheet" href="../../../../assets/css/login.css" />
<title>用户登录-实验室管理系统</title>
</head>
<body>

<div id="header">
	<div class="header_title">
		<span class="title_con">昆明理工大学实验室管理系统</span>
	</div>
</div>

<div id="content">
	<center>
		<div class="con">
		<div class="con_title">
			<span class="con_title_sp">欢迎登录实验室管理系统</span>
		</div>
		<div class="con_panel">
			<div class="con_input">
				<span>用户名：</span><input type="text" placeholder="学号/工号"/>
			</div>
			<div class="con_input">
				<span>密&nbsp;&nbsp;&nbsp;&nbsp;码：</span><input type="text" placeholder="密码"/>
			</div>
			<div class="con_select">
				<input type="radio" name="t1" value="学生" />学生
				<input type="radio" name="t1" value="教师" />教师
				<input type="radio" name="t1" value="管理员" />管理员
			</div>
			<input type="submit" value="登    录" class="submit-btn"/><br>
			还没有账号？<a href="regist.html" style="text-decoration: none">注册！</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="re.html" style="text-decoration: none">
			忘记密码
		</a>
		</div>
	</div>
	</center>
</div>
</div>

<div id="footer">
	<center>

	</center>
</div>

</body>
</html>
