<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmust.labManagementSystem.mapper.classBasisInfoMapper.ClassRoomCheckRecordMapper">
    <resultMap id="BaseResultMap" type="com.kmust.labManagementSystem.dao.classBasisInfo.CheckRecord">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="week" jdbcType="VARCHAR" property="week" />
        <result column="classroom_no" jdbcType="VARCHAR" property="classRoomNo" />
        <result column="classroom_name" jdbcType="VARCHAR" property="classRoomName" />
        <result column="state" jdbcType="VARCHAR" property="state" />
        <result column="date" jdbcType="VARCHAR" property="date" />
        <result column="check_man" jdbcType="VARCHAR" property="checkMan" />
        <result column="note" jdbcType="VARCHAR" property="note" />
    </resultMap>
    <insert id="insertRecord" parameterType="com.kmust.labManagementSystem.dao.classBasisInfo.CheckRecord">
        insert into classroom_check_table
        values(null,#{week},#{classRoomNo},#{classRoomName},#{state},#{date},#{checkMan},#{note})
    </insert>




</mapper>