<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmust.labManagementSystem.mapper.classBasisInfoMapper.ClassRoomCheckRecordMapper">
    <resultMap id="BaseResultMap" type="com.kmust.labManagementSystem.dao.classBasisInfo.CheckRecord">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="classroom_name" jdbcType="VARCHAR" property="classRoomName"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="date" jdbcType="VARCHAR" property="date"/>
        <result column="check_man" jdbcType="VARCHAR" property="checkMan"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
    </resultMap>
    <insert id="insertRecord" parameterType="com.kmust.labManagementSystem.dao.classBasisInfo.CheckRecord">
        insert into classroom_check_table
        values(null,#{classRoomName},#{state},#{date},#{checkMan},#{note})
    </insert>

    <select id="selectByClassroomName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from classroom_check_table
        where 1=1
        <if test="classroomName != null and classroomName != ''">
            and classroom_name like "%"#{classroomName}"%"
        </if>
    </select>
    <delete id="deleteById">
        delete from classroom_check_table
        where id=#{id}
    </delete>
    <update id="checkClass">
        update classroom_check_table
        set check_man = #{checkMan},date=#{date}
        where id=#{id}
    </update>


</mapper>