<!DOCTYPE html>
<div>
    <div class="row">
        <form id="findForm" class="form-inline" action="#" method="post" style="margin-bottom: 30px;">
            <div class="form-group">
                <label class="cls-label">课程名称：</label>
                <input type="text" class="form-control input-sm" id="courseName" name="userNm" placeholder="Search">
            </div>
            <input type="button" class="btn btn-primary btn-sm" id="find" style="margin-left: 20px;" value="查 询"/>

        </form>
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" id="mod" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn btn-primary">新增</button>
        <button type="button" id="update" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">更新</button>
        <button type="button" id="delete" class="btn btn-primary">删除</button>
    </div>
    <div>
        <table id="mytab" class="table table-hover">
        </table>
    </div>
</div>
<!--modal-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">管理课程信息</h4>
                </div>

                <div class="form-group" style="padding-left: 30px;padding-right: 30px;">
                    <div class="row" style="margin-left: 0px;margin-right: 0px;">
                        <div class="col-xs-4">
                            <label>课程号：</label>
                            <input type="text" class="form-control" id="course_no">
                        </div>
                        <div class="col-xs-4" style="margin-left: 10px;">
                            <label>课程类型：</label>
                            <input type="text" class="form-control" id="course_type" >
                        </div>
                    </div>
                    <div class="row" style="margin-left: 0px;margin-right: 0px;">
                        <div class="col-xs-4">
                            <label>课程名称：</label>
                            <input type="text" class="form-control" id="course_name">
                        </div>
                        <div class="col-xs-4" style="margin-left: 10px;">
                            <label>上课班级：</label>
                            <input type="text" class="form-control" id="course_class">
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <label>上课人数：</label>
                        <input type="text" class="form-control" id="number" >
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="commit">提交</button>
                    <button type="button" class="btn btn-primary" id="updateInfo">更新</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
$(function(){
        $.getScript("../../../../../assets/js/timeTable/ClassPro.js");
        InitMainTable();
    });

$("#find").click(function(){
    InitMainTable()
});
function InitMainTable  (){
    $("#mytab").bootstrapTable('destroy');
    $('#mytab').bootstrapTable({
        url: '/class/findClassPro',
        method: 'GET',
        queryParams: "queryParams",
        toolbar: "#toolbar",
        sidePagination: "client",
        striped: true, // 是否显示行间隔色
        queryParams:queryParams,
        pageNumber: 1,
        uniqueId: "courseNo",
        pageSize: "10",
        pagination: true, // 是否分页
        sortable: true, // 是否启用排序
        clickToSelect: true,
        columns: [
        {
            checkbox: true,
            visible: true
        },
        {
            field: 'courseNo',
            title: '课程号'
        },
        {
            field: 'courseType',
            title: '课程类型 '
        },
        {
            field: 'courseName',
            title: '课程名称 '
        },
        {
            field: 'courseClass',
            title: '课程班级'
        },
        {
            field: 'studentNum',
            title: '学生人数'
        },
        ]
    });

    function queryParams() {
        var classProject = {};
        classProject.courseName=$("#courseName").val();
        return classProject;
    }

}



</script>